
<form action="" id="hostel_forms">
    <div class="name_details">
        <div class="first_name">
            <p>First Name</p>
            <input type="text name1 valid" autofocus>
        </div>
     <div class="last_name">

        <p>Last Name</p>

        <input type="text valid" >
     </div>   
    </div>


    <div class="other_details">
        <div class="email_1">
            <p>Gender</p>
            <button class="button_yes" ng-click="male()">Male</button>
            <button class="button_no" ng-click="female()">Female</button>
        </div>    
        <div class="country">
            <p>Country</p>
            <input type="text" >
        </div>   
        </div>
        
        <div class="number">
            <p>Course of Study</p> 
            <input type="number">
        </div> 
    </div> 



<div class="button_holder">
    <div class="button_holder_flex">
        <button ng-click="undergraduate()" class="undergrad">Undergraduate</button>
        <button ng-click="postgraduate()" class="postgraduate">Post Graduate</button>
    </div>
    <div class="button_holder_flex">
        <button ng-click="basic_info_two()">Next</button>
    </div>
</div>

</form>