
<form action="" id="hostel_forms" ng-submit="hostel_forms()">
    <div class="name_details">
        <div class="first_name">
            <p class="firstname">First Name</p>
            <input type="text" class="fname" autofocus>
        </div>
     <div class="last_name">

        <p  class="lastname">Last Name</p>

        <input type="text valid" class="lname" >
     </div>   
    </div>


    <div class="other_details">
        <div class="email_1">
            <p>Gender</p>
            <button class="button_yes" ng-click="male()">Male</button>
            <button class="button_no" ng-click="female()">Female</button>
        </div>    
        <div class="country">
            <p class="contry">Country</p>
            <input type="text"  class="country1">
        </div>   
        </div>
        
        <div class="number">
            <p class="corse">Course of Study</p> 
            <input type="text" class="course">
        </div> 
    </div> 



<div class="button_holder">
    <div class="button_holder_flex">
        <button ng-click="undergraduate()" class="undergrad">Undergraduate</button>
        <button ng-click="postgraduate()" class="postgraduate">Post Graduate</button>
    </div>
    <div class="button_holder_flex">
        <button ng-click="basic_info_two()">Next</button>
    </div>
</div>

</form>