
<form action="" id="hostel_forms">

    <div class="basic_info_main_2">
        <div class="basic_info_flex">
            <p>Contact Number</p>
            <input type="text" name="" id="" autofocus>

            <p>Email Address</p>
            <input type="email" required>

            <p>Address</p>
            <input type="text" required>
            <p></p>
            <button ng-click="basic_info_one()" class="back_button">Back</button>
        </div>
        <div class="basic_info_flex">
            <p>Emergency Contact</p>
            
            <input type="text" name="" id="" placeholder="Name">

            <p>Contact Information</p>
            <input type="email" required>

            <p>Medical Condition</p>
            <input type="text" placeholder="Please if you have any existing medical condition">
            <p></p>
            <button class="next_button" ng-click="booking_info()">Next</button>
        </div>
    </div>

</form>