
<form action="" ng-submit="billing()">
    <h3>Billing Information</h3>
    <div class="basic_info_main_2">
        <div class="basic_info_flex">
            <div class="billing_flexbox">
                <div class="billing_flex">
                    <p class="first_name11">First Name</p>
                <input type="text" name="" id="" class="firstname11">
    
                <p class="email_address">Email Address</p>
                <input type="email" class="email11">
    
                <p class="address12">Address</p>
                <input type="text" class="address11">
                <p><input type="checkbox"><span class="replicate_basic_info">Same as Basic Information</span></p>
                
                </div>

                <div class="billing_flex">
                    <p class="last_name11">Last Name</p>
                <input type="text" name="" id="" class="lastname11">
    
                <p class="country12">Country</p>
                <input type="text"  class="country11">
    
                <p class="phone_number">Phone Number</p>
                <input type="text" class="phonenumber">
                </div>
                
            </div>
           
            <p></p>
            <button ng-click="booking_info()" class="back_button">Back</button>
        </div>
        <div class="basic_info_flex">
            <p><input type="radio" name="payment"> <b>Make Payment</b></p>
            <div class="payment_flexbox" >
                <input type="radio" name="momo">
                <div class="payment_flex">
                    
                    <img src="./images/mtn_momo.png" alt="payment icon">
                </div>
                <input type="radio" name="momo">
                <div class="payment_flex">
                  
                    <img src="./images/vodafone.png" alt="payment icon">
                </div>
                <input type="radio" name="momo">
                <div class="payment_flex">
                   
                    <img src="./images/airtel.png" alt="payment icon">
                </div>

                <div class="payment_flex">

                    <input type="radio" name="momo"> <b>Bank Transfer</b>
                    
                </div>
            </div>
            <p><input type="radio" name="payment"> <b>Make Payment Later</b></p>
            <p style="color:red">Note: Payment Confirms your Booking. Room will not be reserved for until payment have been made. </p>
            <p></p>
            <button ng-click="complete_form()" class="next_button">Next</button>
        </div>
    </div>
    
</form>